<mat-card class="text-center">
  <div>
    <img
      src=""
      alt=""
      class="mb-1 mx-auto h-[200px]"
    />
    <div class="w-full">
      <div>
        <h5>Shoes</h5>
        <p class="truncate hover:whitespace-normal">Snickers</p>
        <p>Description</p>
      </div>
      <div class="text-red-400">
        <span>
          {{ '150' | currency }}
        </span>
        <button>
          <mat-icon class='text-gray-500'>shoping_cart</mat-icon>
        </button>
      </div>
    </div>
  </div>
</mat-card>
